.forgotpassword-container {
      width: 100%;
      max-width: 1120px;
      height: 100vh;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.forgotpassword-container section.form {
      width: 100%;
      max-width: 350px;
      margin-right: 30px;
      align-items: center;
}

.forgotpassword-container section.form form {
      margin-top: 100px;
      max-width: 300px;
      margin-left: 25px;
}

.forgotpassword-container section.form form h1 {
      font-size: 32px;
      margin-bottom: 32px;
}

.forgotpassword-container section.form form .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      vertical-align: middle;
}

@media (max-width: 1200px) {
      .forgotpassword-container {
            display: block;
            flex-wrap: wrap !important;
            margin-top: 60px;
            height: 90vh;
      }
      .forgotpassword-container section.form {
            width: 100% !important;
            margin: auto !important;
      }
      .heroes {
            display: none;
            visibility: hidden;
      }
}