.index-container {
      width: 100%;
      max-width: 1180px;
      padding: 0 30px;
      margin: 32px auto;
}

.index-container header {
      display: flex;
      align-items: center;
}

.index-container header span {
      font-size: 20px;
      margin-left: 24px;
}

.index-container header img {
      height: 64px;
}

.index-container header a {
      width: 260px;
      margin-left: auto;
      margin-top: 0;
}

.index-container header .return {
      margin-left: auto;
      height: 60px;
      width: 60px;
      border-radius: 15px;
      border: 1px solid #DCDCE6;
      background: transparent;
      transition: border-color 0.2s;
}

.index-container header .return:hover {
      border-color: #999;
}

.index-container h1 {
      margin-top: 80px;
      margin-bottom: 24px;
}

.index-container ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
      list-style: none;
}

.index-container ul li {
      background: #FFF;
      padding: 24px;
      border-radius: 8px;
      position: relative;
}

.index-container ul li div {
      position: absolute;
      right: 24px;
      top: 24px;
}

.index-container ul li div button {
      background: transparent;
      border: 0;
}
.index-container ul li div button+button {
      margin-left: 10px;
}

.index-container ul li div button:hover {
      opacity: 0.8;
}

.index-container ul li strong {
      display: block;
      margin-bottom: 5px;
      color: #41414D;
}

.index-container ul li p+strong {
      margin-top: 28px;
}

.index-container ul li p {
      color: #737380;
      line-height: 21px;
      font-size: 16px;
}

@media (max-width: 600px) {
      .index-container span {
            display: none;
      }
      .index-container ul {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 24px;
            list-style: none;
      }
}