<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <style type="text/css">
    body,
    p,
    div {
      font-family: trebuchet ms, sans-serif;
      font-size: 5px;
    }

    body {
      color: #000000;
    }

    body a {
      color: #0055B8;
      text-decoration: none;
    }

    p {
      margin: 0;
      padding: 0;
    }

    table.wrapper {
      width: 100% !important;
      table-layout: fixed;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    img.max-width {
      max-width: 100% !important;
    }

    .column.of-2 {
      width: 50%;
    }

    .column.of-3 {
      width: 33.333%;
    }

    .column.of-4 {
      width: 25%;
    }

    @media screen and (max-width:480px) {

      .preheader .rightColumnContent,
      .footer .rightColumnContent {
        text-align: left !important;
      }

      .preheader .rightColumnContent div,
      .preheader .rightColumnContent span,
      .footer .rightColumnContent div,
      .footer .rightColumnContent span {
        text-align: left !important;
      }

      .preheader .rightColumnContent,
      .preheader .leftColumnContent {
        font-size: 80% !important;
        padding: 5px 0;
      }

      table.wrapper-mobile {
        width: 100% !important;
        table-layout: fixed;
      }

      img.max-width {
        height: auto !important;
        max-width: 480px !important;
      }

      a.bulletproof-button {
        display: block !important;
        width: auto !important;
        font-size: 80%;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .columns {
        width: 100% !important;
      }

      .column {
        display: block !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  </style>
</head>

<body>
  <center class="wrapper" data-link-color="#0055B8"
    data-body-style="font-size: 5px; font-family: trebuchet ms,sans-serif; color: #000000; background-color: #F7F7F7;">
    <div class="webkit">
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#F7F7F7">
        <tr>
          <td valign="top" bgcolor="#F7F7F7" width="100%">
            <table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0"
              border="0">
              <tr>
                <td width="100%">
                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0"
                          style="width: 100%; max-width:600px;" align="center">
                          <tr>
                            <td role="modules-container"
                              style="padding: 0px 0px 0px 0px; color: #383838; background-color:#f3f3f3; text-align: left;" bgcolor="#FFFFFF"
                              width="100%" align="left">

                              <table class="module preheader preheader-hide" role="module" data-type="preheader"
                                border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">
                                <tr>
                                  <td role="module-content">

                                  </td>
                                </tr>
                              </table>

                              <table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
                                cellspacing="0" width="100%" style="table-layout: fixed;">
                                <tr>
                                  <td style="padding:0px 0px 10px 0px;" role="module-content" bgcolor="#F7F7F7">
                                  </td>
                                </tr>
                              </table>

                              <table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
                                cellspacing="0" width="100%" style="table-layout: fixed;">
                                <tr>
                                  <td style="padding:0px 0px 10px 0px;" role="module-content" bgcolor="#F7F7F7">
                                  </td>
                                </tr>
                              </table>
                              
                              <table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
                                cellspacing="0" width="100%" style="table-layout: fixed;">
                                <tr>
                                  <td style="padding:0px 0px 5px 0px;" role="module-content" bgcolor="#F7F7F7">
                                  </td>
                                </tr>
                              </table>

                              <table class="wrapper" role="module" data-type="image" border="0" cellpadding="0"
                                cellspacing="0" width="100%" style="table-layout: fixed;">
                                <tr>
                                  <td style="font-size:6px;line-height:10px;padding:0px 0px 0px 0px;" valign="top"
                                    align="center">
                                    <img class="max-width"
                                        style="display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:100% !important;width:100%;height:auto !important;"
                                        src=https://marketing-image-production.s3.amazonaws.com/uploads/d5576ccbfd088aac0cbe0e4f11c56572726a6f4da6f0b0647b2a95391cef35a5783b23ae1694d9d4c09ec9fc1abc64a5cb1661b8f3d097bdf243587b7176ce75.png
                                        alt="" width="600" border="0">
                                  </td>
                                </tr>
                              </table>
                              <table class="module" role="module" data-type="code" border="0" cellpadding="0"
                                cellspacing="0" width="100%" style="table-layout: fixed;">
                                <tr>
                                  <td height="100%" valign="top">
                                    <div style="padding: 0px 35px 0 35px;">
                                      
                                    </div>
                                  </td>
                                </tr>
                              </table>
                              <table class="module" role="module" data-type="code" border="0" cellpadding="0"
                                cellspacing="0" width="100%" style="table-layout: fixed;">
                                <tr>
                                  <td height="100%" valign="top">
                                    <div style="padding:5px">
                                      <br><br>
                                      <div
                                        style="font-style: normal;font-weight: bold; font-variant-ligatures: normal; font-variant-caps: normal; background-color: rgb(255, 255, 255);">
                                        <span
                                          style="font-family:open sans,trebuchet ms, helvetica, sans-serif;line-height: 1.5;"><span
                                            style="color:#33B9A5;"><span style="font-size:30px;">
                                              <center style="background-color:#f3f3f3;">Olá, {{userName}}!</center>
                                            </span></span></span></div>
                                      <br><br>

                                      <div
                                        style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; background-color:#f3f3f3; padding:0 35px 0 35px;">
                                        <span style="font-family:open sans,trebuchet ms, helvetica, sans-serif;line-height: 1.8;"><span
                                            style="color:#383838;"><span style="font-size:15px;">
                                              <center style="background-color:#f3f3f3;">Obrigado por utilizar nossa plataforma! <br/> Por favor, clique no botão abaixo para alterar a sua senha.</center>
                                            </span></span></span>
                                        </div>
                                      <br><br>                                
                                      <div style="margin-top: 10px;">
                                        <center><a style="background-color:#33B9A5;border-radius:25px;color:#ffffff;display:inline-block;font-family:poppins,trebuchet ms,helvetica,sans-serif;font-size:16px;font-weight:normal;letter-spacing:px;line-height:12px;padding:12px 18px 12px 18px;text-align:center;text-decoration:none;margin-bottom: 40px;" href="{{link}}" target="_blank"><strong>ALTERAR SENHA</strong></a></center>
                                      </div>
                               <table class="module" role="module" data-type="code" border="0" cellpadding="0"
                                cellspacing="0" width="100%" style="table-layout: fixed;">
                                <tr>
                                  <td height="100%" valign="top">
                                    <div style="padding:10px; background-color:white; margin-top:0px;">
                                      <div style="text-align: center"><span style="font-size:18px;"><span
                                            style="color:#33B9A5;"><span
                                              style="font-family:open sans,trebuchet ms, helvetica, sans-serif;"><span
                                                style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600;">Dúvidas? Nos procure no WhatsApp:<br><strong>(11) 98860-2203</strong></span></span></span></span>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>

                      
                              <table class="module" role="module" data-type="code" border="0" cellpadding="0"
                              cellspacing="0" width="100%" style="table-layout: fixed;">
                              <tr>
                                <td height="100%" valign="top">
                                  <div 
                                  style="background-color:#1C496D; color: white; margin:0px auto;">
               
                                      
                                  <div style="text-align:center; padding-top:5px;">
                                      
                                    <!-- <div style="text-align: center;height:130px;width:350px;margin:0px auto; margin-top:-30px;"> -->
                                    <br> <span
                                        style="font-size:12px;"><span
                                     
                                           style="margin:0px auto; color:white;"><a
                                                href="https://br.visor.io/" target="_blank" style="color:white;">br.visor.io</a></span></span>
                                                  <span
                                    style="font-size:12px;">
                                                        <br><br>
                                                    <span
                                        
                                              style="margin:0px auto; color:white;"><a
                                              
                                              style="color:white;">Avenida Brigadeiro Faria Lima, 2092, 9º andar. São Paulo - SP</a></span></span><br><br><br><br>
                                                  <img style="width:125px" src="https://marketing-image-production.s3.amazonaws.com/uploads/648df22a2196387e8a97f799a199a61d09160b50675b3ec791985ab7a2bd8692e35bee7a5220d3085805cea8357e4036d47b471e50edb4d2d567c002669780ed.png">
                                                  <br><br>
                                      <!-- </div>                                                                               -->
                                  </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
              </body>          
          
       
   




